<div class="title">
  <h1>Contact Me</h1>
  <a>
    Email: jakezcanada@gmail.com
  </a>
  <p>
    <a href="assets/Resume.pdf" download>
      Resume Download (Last Updated December 6 2023)
    </a>
  </p>
  <div class="socials-container">
    <button mat-raised-button (click)="openLink('https://www.linkedin.com/in/jake-zhang-286867203/')">
      <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
    </button>
    <button mat-raised-button (click)="openLink('https://github.com/jakezcanada')">
      <fa-icon [icon]="faGithub"></fa-icon> Github
    </button>
  </div>
</div>
