h1 {
  font-size: 3.5vw;
  padding: 2vh;
}

h2 {
  font-size: 1.5vw;
  padding: 2vh;
}
.title {
  text-align: left;
  position: relative;
  z-index: -2;
}
.socials-container {
  display: flex;
  justify-content: space-around;
}
