.centered-axis-x {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;

  margin-left: 50%;
  transform: translateX(-50%);
}
.centered-axis-x-buttons {
  position: absolute;
  top: 0;
  margin: auto;
}
.door {
  height: 100%;
  z-index: 100;
}
.background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  background-image: url('../assets/FullBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -100;
}
