<div class="background"></div>
<div style="position: absolute; margin: 18vh 28vw 18vh 28vw; height: 66vh; width: 44vw; z-index: -1">
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="showOpening">
  <div class="centered-axis-x">
    <ng-lottie
      class="door"
      [options]="optionsOpen"
      (animationCreated)="showClosing = false"
      (complete)="showOpening = isTransitioning = false"
    ></ng-lottie>
  </div>
</ng-container>
<ng-container *ngIf="showClosing">
  <div class="centered-axis-x">
    <ng-lottie
      class="door"
      [options]="optionsClose"
      (animationCreated)="isTransitioning = true"
      (complete)="doNav()"
    ></ng-lottie>
  </div>
</ng-container>
<div class="centered-axis-x-buttons" style="z-index: 2">
  <button type="button" class="btn" (click)="navigateTo('home')">Home</button>
  <button type="button" class="btn" (click)="navigateTo('about')">About</button>
</div>

