<div class="background"></div>
<div style="position: absolute; margin: 18vh 28vw 18vh 28vw; height: 66vh; width: 44vw; z-index: -1">
  <router-outlet></router-outlet>
</div>
<div class="centered-axis-x-buttons">
  <ng-container *ngFor="let link of links">
    <button
      type="button"
      class="btn"
      [ngClass]="{'active-btn': link === currentNav, 'temp-btn': isTransitioning}"
      (click)="navigateTo(link)"
    >{{link}}</button>
  </ng-container>
</div>
<ng-container *ngIf="showOpening || showClosing">
  <ng-container *ngIf="showOpening">
    <div class="centered-axis-x" *ngIf="showOpening">
      <ng-lottie
        class="door"
        [options]="optionsOpen"
        (animationCreated)="showClosing = false"
        (complete)="showOpening = showClosing = isTransitioning = false"
      ></ng-lottie>
    </div>
  </ng-container>
  <ng-container *ngIf="showClosing">
    <div class="centered-axis-x">
      <ng-lottie
        class="door"
        [options]="optionsClose"
        (animationCreated)="isTransitioning = true"
        (complete)="doNav()"
      ></ng-lottie>
    </div>
  </ng-container>
</ng-container>



